---
layout: default
title: Sally Kang
---
{% if page.url contains '/zh/' %}
    {% assign enurl=page.url | replace:'/zh/','/en/' %}
    {% assign zhurl=page.url %}
{% elsif page.url contains '/en/' %}
    {% assign enurl=page.url %}
	{% assign zhurl=page.url | replace:'/en/', '/zh/' %}
{% else %}
    {% assign enurl=page.url | prepend: '/en' %}
    {% assign zhurl=page.url | prepend:'/zh' %}
  {% endif %}
  
<ul class="nav nav-pills pull-right">
  <li class="language-chooser"><a href="{{enurl}}">En</a></li>
  <li class="language-chooser" > <a href="{{zhurl}}">中文</a></li>
</ul>

{% assign posts= site.posts | where:'lang' , 'en' %}
<ul class="posts">
    {% for post in posts %}
  <br/>
     <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}"> <h3> {{ post.title }}</h3> </a></li>
     {{ post.content | strip_html | truncate: 200 }}
     <br/>
{% endfor %}
<!-- {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %} -->
</ul>
