
<!-- <script type="text/javascript">
function check_empty() {
if (document.getElementById('email').value == "") {
alert("Fill Email Field !");
} 
//Function To Display Popup
function div_show() {
document.getElementById('subscribe').style.display = "block";}
//Function to Hide Popup
function div_hide(){
document.getElementById('subscribe').style.display = "none";}
}
	</script> -->
<div class="footer" >
	<div class="row">
	   <div class="col-sm-8">
      <p><small>&copy; SallyKang 2018</small></p>
      <a href="http://feeds.feedburner.com/Sally-blog" rel="alternate" type="application/rss+xml"><img src="https://png.icons8.com/metro/40/000000/rss.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/Sally-blog" rel="alternate" type="application/rss+xml"></a>
      <a href="https://www.instagram.com/snape_kang/"> <img src="https://png.icons8.com/ios/50/000000/instagram-new-filled.png"> </a> <a href="mailto:snapekang@gmail.com"><img src="https://png.icons8.com/ios/50/000000/gmail-filled.png"></a> <a href="https://github.com/SallyKAN"> <img src="https://png.icons8.com/windows/64/000000/github.png"></a> <a href="https://www.douban.com/people/snapek/"> <img src="img/douban.png" style="width:42px;height:42px;"> </a> <!-- a href=""><img src="img/subscribe.png" style="width:42px;height:42px;"></a>  -->
	   </div>
	   <!-- <div class="subscribe" onclick="div_show()">
	   <form style="border:1px solid #ccc;padding:3px;text-align:center;" id="form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Sally-blog', 'popupwindow', 'scrollbars=yes,width=550,height=520' return true" >
	   	<p>Enter your email address:</p>
	   	<p><input type="text" style="width:140px" name="email" id="email"/></p>
	   	<input type="hidden" value="Sally-blog" name="uri"/>
	   	<input type="hidden" name="loc" value="en_US"/>
	   	<input type="submit" value="Subscribe" />
	   </form>
	   </div> -->
	</div>
	
</div> <!-- /footer -->
