<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.about }}"><a href="/about" title="About">About</a></li> 
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> 
		<li class="{{ page.archive }}"><a href="/archive" title="Archive">Archive</a></li>
		<li class="{{ page.tags }}"><a href="/tags" title="Tag">Tags</a></li>
		<!-- <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li> -->
		
	</ul>
	<h3 class="text-muted"><a href="/">Sally Kang</a></h3>
	<div>
		<div> 
			 <p>why join the navy.</p>
	    </div> 
		<!-- <div class="col-sm-9" >
			 <form action="/search.html" method="get" align="right">
  			 <input type="text" id="search-box" name="query" placeholder="Search..">
  			 <button type="submit"><i class="fa fa-search"></i></button>
			 </form>
		     </div> -->
<!-- <ul id="search-results"></ul> -->
	</div> <!-- /header -->
</div>
