<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.about }}"><a href="/about" title="About">About</a></li> 
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> 
		<li class="{{ page.archive }}"><a href="/archive" title="Archive">Archive</a></li>
		<li class="{{ page.tags }}"><a href="/tags" title="Tag">Tags</a></li>
		<!-- <li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li> -->
		
	</ul>
	<h3 class="text-muted"><a href="/">Sally Kang</a></h3>
	<p> The Journey is the Reward.</p>
</div> <!-- /header -->
